:root {
    --secondary-white-color: #F5F5F5;
    --primary-white-color: #FFFFFF;
    --title-text-color: #212121;
    --primary-text-color: #757575;
    --accent-color: #2196F3;
}
body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family:'Roboto', sans-serif;
    font-style: normal;
}
.list {
    list-style: none;
    }
.logo {
    color: var(--accent-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.logo-black {
    color: #000000;
}
.header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    background: var(--primary-white-color);
}
.header-link:hover,
.header-link:focus  {
    color: var(--accent-color);
}
.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--title-text-color);
}
.current {
    color: var(--accent-color);
}
.header-item {
    color: var(--title-text-color);
}
.contact-link {
    color: var(--primary-text-color);
    letter-spacing: 0.02em;
    text-decoration: none;
}
.contact-link:hover,
.contact-link:focus {
    color: var(--accent-color);
}
.order {
    background: #2F303A;
}
.order-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--secondary-white-color);
}
.order-btn {
    font-family: 'Roboto';
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--secondary-white-color);
    cursor: pointer;
}
.order-btn:hover,
.order-btn:focus {
    background-color: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.benefits {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
}
.ben-about {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.about {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.team-sec {
    background-color: #F5F4FA;
}
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.team {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.team-prof {
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}
.team-win {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.footer {
    background: #2F303A;
}
.adress {
    font-style: normal;
}
.logo-white {
    color: var(--secondary-white-color);
}
.adress-nav {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-white-color);
    text-decoration: none;
}
.main-nav {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
.fil-btn {
    font-family: 'Roboto';
    background: #F5F4FA;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    cursor: pointer;
}
.fil-btn:hover,
.fil-btn:focus {
    background: var(--accent-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    color: var(--secondary-white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.projects {
    background-color: var(--secondary-white-color);
}
.projects-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}
.projects-class {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}
