:root {
    --secondary-white-color: #F5F5F5;
    --primary-white-color: #FFFFFF;
    --title-text-color: #212121;
    --primary-text-color: #757575;
    --accent-color: #2196F3;
    --modal-btn-close-color: #000;
}
body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family:'Roboto', sans-serif;
    font-style: normal;
}
h1,
h2,
h3,
p,
ul {
    margin: 0;
}
ul {
    padding: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
a {
    text-decoration: none;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.list {
    list-style: none;
}
.container {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    /*outline: 2px solid red;*/
}
.header .container {
    display: flex;
    align-items: center;
}
.logo {
    color: var(--accent-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;

    display: inline-block;
    margin-right: 93px;
    align-items: center;
}
.logo-black {
    color: #000000;
}
.header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    background: var(--primary-white-color);
    border-bottom: 1px solid #ECECEC;
}
.header-link:hover,
.header-link:focus  {
    color: var(--accent-color);
}
.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--title-text-color);

    display: block;
    padding: 32px 0 32px;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-item .current {
    color: var(--accent-color);
    position: relative;
}
.header-item {
    text-align: center;
    display: flex;
    column-gap: 50px;
    margin-left: auto;
    color: var(--title-text-color);
}
.contact-item {
    display: flex;
    margin-left: auto;
    column-gap: 50px;
}
.contact-link {
    font-weight: 500;
    font-size: 14px;
    color: var(--primary-text-color);
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    display: flex;
    align-items: center;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link.current::after {
    content: '';
    position: absolute;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
}
.contact-link:hover,
.contact-link:focus {
    color: var(--accent-color);
}
.contact-list-list {
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-icon {
    margin-right: 10px;
    fill: currentColor;
}
.order {
    background: #2F303A;
    padding: 200px 0;
    max-width: 1600px;
    margin: 0 auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.order-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    color: var(--secondary-white-color);

    max-width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.order-btn {
    padding: 10px 32px;
    margin: 0 auto;
}
.order-btn {
    min-width: 216px;
    height: 50px;
    font-family: 'Roboto';
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--secondary-white-color);

    cursor: pointer;
    align-items: center;
    text-align: center;
    display: flex;
    border-radius: 4px;
    border: none;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.order-btn:hover,
.order-btn:focus {
    background-color: #188CE8;
}
.features {
    display: flex;
    column-gap: 30px;
}
.features-img {
    display: flex;
    align-items: center;
    justify-content: center;
}
.features-box {
    width: 270px;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    display: flex;
}
.features-item {
    flex-basis: calc((100% - 90px) / 4);
}
.benefits {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
    margin-bottom: 10px;
}
.ben-about {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.about-section {
    padding-top: 0;
}
.employment {
    display: flex;
    column-gap: 30px;
}
.employment-item {
    position: relative;
}
.about {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    text-align: center;

    margin-bottom: 50px;
}
.employment-text {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-white-color);
    background: rgba(47, 48, 58, 0.8);
    height: 70px;
}
.team {
    display: flex;
    column-gap: 30px;
}
.team-sec {
    background-color: #F5F4FA;
}
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    text-align: center;

    margin-bottom: 50px;
}
.team-box {
    padding: 30px 0;
}
.team-soc {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}
.team-soc-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-icon {
    fill: #AFB1B8;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-link:hover,
.team-soc-link:focus {
    background-color: var(--accent-color);
}
.team-soc-link:hover .team-soc-icon,
.team-soc-link:focus .team-soc-icon {
    fill: #FFFFFF;
}
.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    text-align: center;

    margin-bottom: 10px;
}
.team-text {
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--primary-text-color);
    margin-bottom: 16px;
}
.team-win {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    width: calc((100% - 60px) / 3);
}
.customers-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.customers-item {
    width: 170px;
    height: 92px;
}
.customers-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid #AFB1B8;
    border-radius: 4px;

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-logo {
    fill: #AFB1B8;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover,
.customers-link:focus {
    border-color: #2196F3;
}
.customers-link:hover .customers-logo,
.customers-link:focus .customers-logo {
    fill: #2196F3;
}
.footer {
    background: #2F303A;
    padding: 60px 0 60px;
    display: flex;
}
.logo-footer {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    display: inline-block;

    margin-bottom: 20px;
}
.adress {
    font-style: normal;
}
.logo-white {
    color: var(--secondary-white-color);
}
.footer-list {
    margin-bottom: 9px;
}
.footer-list:last-child {
    margin-bottom: 0;
}
.adress-nav {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-white-color);
    text-decoration: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.adress-nav:hover,
.adress-nav:focus {
    color: var(--accent-color);
}
.main-nav {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.main-nav:hover,
.main-nav:focus {
    color: var(--accent-color);
}
.footer-info {
    display: flex;
    gap: 70px;
    align-items: baseline;
}
.footer-soc-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-white-color);
    margin-bottom: 20px;
}
.footer-soc-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    fill: #FFFFFF;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-link:hover,
.footer-soc-link:focus {
    background-color: var(--accent-color);
}
.footer-soc-list {
    display: flex;
    column-gap: 10px;
}
.subscription-form {
    display: block;
    align-items: col;
}
.footer-subscription {
    display: flex;
    gap: 12px;
}
.footer-subscription-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-white-color);
    display: block;
    margin-bottom: 20px;
}
.footer-input {
    padding: 15px 16px;
    min-width: 358px;
    height: 50px;
    background-color: #2F303A;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}
.subscription-btn {
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;  
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.06em;
    border-color: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscription-btn:hover,
.subscription-btn:focus {
    background-color: #188CE8;
}
.footer-mail-icon {
    fill: currentColor;
    margin-left: 10px;
}
.footer-input::placeholder {
    color: #FFFFFF99;
}
.portfolio {
    display: flex;
    justify-content: center;
    column-gap: 8px;
    margin-bottom: 50px;
}
.fil-btn {
    padding: 6px 22px;

    font-family: 'Roboto';
    background: #F5F4FA;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    text-align: center;
    border-radius: 4px;
    border: none;
    cursor: pointer;

    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.fil-btn:hover,
.fil-btn:focus {
    background: var(--accent-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    color: var(--secondary-white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
    text-align: center;
    border-radius: 4px;
}
.portfolio-tech {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.portfolio-link:hover .portfolio-top-text,
.portfolio-link:focus .portfolio-top-text {
    transform: translateY(0);
}
.portfolio-top-text {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background-color: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;
    height: 100%;
    transform: translateY(100%);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-wrap {
    position: relative;
    overflow: hidden;
}
.portfolio-link {
    display: block;

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover,
.portfolio-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.projects {
    background-color: var(--secondary-white-color);
    flex-basis: calc((100% - 60px) / 3);
}
.projects:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-block {
    padding: 20px 24px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-top: none;
}
.projects-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);

    margin-bottom: 4px;
}
.projects-class {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(48, 48, 48, 0.174);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms;
}
.modal {
    position: absolute;
    width: 530px;
    min-height: 580px;
    padding: 40px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1) rotate(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0) rotate(-180deg);
}
.modal-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
}
.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal-close-icon {
    fill: var(--modal-btn-close-color);
    cursor: pointer;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover .modal-close-icon,
.modal-close:focus .modal-close-icon {
    fill: var(--accent-color);
}
.modal-title {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.modal-form {
    display: flex;
    flex-direction: column;
}
.form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 42px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}
.form-input:hover,
.form-input:focus {
    border-color: var(--accent-color);
    outline: var(--accent-color);
}
.form-input:hover+.input-icon {
    fill: #2196F3;
}
.input-field {
    margin-top: 4px;
    margin-bottom: 10px;
    cursor: pointer;
}
.comment-field {
    margin-bottom: 20px;
}
.inpute-title {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.01em;
    color: var(--primary-text-color);
    display: block;
    margin-bottom: 4px;
}
.modal-text {
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    padding-left: 15px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
}
.modal-text::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}
.modal-text:focus {
    border-color: var(--accent-color);
}
.input-wrap {
    display: block;
    position: relative;
}
.input-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    display: inline-block;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus+.input-icon {
    fill: #2196F3;
}
.checkbox-field {
    margin-bottom: 30px;
}
.check-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.check-text-link {
    color: var(--accent-color);
    text-decoration: underline;
}
.check-icon {
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 7px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-check {
    fill: transparent;
}
.input-check:checked+.check-text .check-icon {
    background-color: var(--accent-color);
    border: none;
}
.input-check:checked+.check-text .icon-check {
    fill: #FFFFFF;
}
.input-check:focus+.check-text .check-icon {
    border-color: var(--accent-color);
}
.check-btn {
    
    height: 50px;
    min-width: 200px;
    max-width: 100%;
    padding: 0 32px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    border-color: transparent;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    cursor: pointer;
    align-self: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.check-btn:hover,
.check-btn:focus {
    background-color: #188CE8;
}

