:root {
    --secondary-white-color: #F5F5F5;
    --primary-white-color: #FFFFFF;
    --title-text-color: #212121;
    --primary-text-color: #757575;
    --accent-color: #2196F3;
}
body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family:'Roboto', sans-serif;
    font-style: normal;
}
h1,
h2,
h3,
p,
ul {
    margin: 0;
}
ul {
    padding: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
a {
    text-decoration: none;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.list {
    list-style: none;
}
.container {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    outline: 2px solid red;
}
.header .container {
    display: flex;
    align-items: center;
}
.logo {
    color: var(--accent-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;

    display: inline-block;
    margin-right: 93px;
    align-items: center;
}
.logo-black {
    color: #000000;
}
.header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    background: var(--primary-white-color);
}
.header-link:hover,
.header-link:focus  {
    color: var(--accent-color);
}
.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--title-text-color);

    display: block;
    padding: 32px 0 32px;
}
.current {
    color: var(--accent-color);
}
.header-item {
    text-align: center;
    display: flex;
    column-gap: 50px;
    margin-left: auto;
    color: var(--title-text-color);
}
.contact-item {
    display: flex;
    margin-left: auto;
    column-gap: 50px;
}
.contact-link {
    font-weight: 500;
    font-size: 14px;
    color: var(--primary-text-color);
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.contact-link:hover,
.contact-link:focus {
    color: var(--accent-color);
}
.contact-list-list {
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-icon {
    margin-right: 10px;
    fill: currentColor;
}
.order {
    background: #2F303A;
    padding: 200px 0;
    max-width: 1600px;
    margin: 0 auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.order-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    color: var(--secondary-white-color);

    max-width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.order-btn {
    padding: 10px 32px;
    margin: 0 auto;
}
.order-btn {
    min-width: 216px;
    height: 50px;
    font-family: 'Roboto';
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--secondary-white-color);

    cursor: pointer;
    align-items: center;
    text-align: center;
    display: flex;
    border-radius: 4px;
    border: none;
}
.order-btn:hover,
.order-btn:focus {
    background-color: #188CE8;
}
.features {
    display: flex;
    column-gap: 30px;
}
.features-img {
    display: flex;
    align-items: center;
    justify-content: center;
}
.features-box {
    width: 270px;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    display: flex;
}
.features-item {
    flex-basis: calc((100% - 90px) / 4);
}
.benefits {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
    margin-bottom: 10px;
}
.ben-about {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.about-section {
    padding-top: 0;
}
.employment {
    display: flex;
    column-gap: 30px;
}
.about {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    text-align: center;

    margin-bottom: 50px;
}
.team {
    display: flex;
    column-gap: 30px;
}
.team-sec {
    background-color: #F5F4FA;
}
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    text-align: center;

    margin-bottom: 50px;
}
.team-box {
    padding: 30px 0;
}
.team-soc {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}
.team-soc-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.team-soc-icon {
    fill: #AFB1B8;
}
.team-soc-link:hover,
.team-soc-link:focus {
    background-color: var(--accent-color);
}
.team-soc-link:hover .team-soc-icon,
.team-soc-link:focus .team-soc-icon {
    fill: #FFFFFF;
}
.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    text-align: center;

    margin-bottom: 10px;
}
.team-text {
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--primary-text-color);
}
.team-win {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    width: calc((100% - 60px) / 3);
}
.customers-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.customers-item {
    width: 170px;
    height: 92px;
}
.customers-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
}
.customers-logo {
    fill: #AFB1B8;
}
.customers-link:hover,
.customers-link:focus {
    border-color: #2196F3;
}
.customers-link:hover .customers-logo,
.customers-link:focus .customers-logo {
    fill: #2196F3;
}
.footer {
    background: #2F303A;
    padding: 60px 0 60px;
}
.logo-footer {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    display: inline-block;

    margin-bottom: 20px;
}
.adress {
    font-style: normal;
}
.logo-white {
    color: var(--secondary-white-color);
}
.footer-list {
    margin-bottom: 9px;
}
.footer-list:last-child {
    margin-bottom: 0;
}
.adress-nav {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-white-color);
    text-decoration: none;
}
.adress-nav:hover,
.adress-nav:focus {
    color: var(--accent-color);
}
.main-nav {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
.main-nav:hover,
.main-nav:focus {
    color: var(--accent-color);
}
.portfolio {
    display: flex;
    justify-content: center;
    column-gap: 8px;
    margin-bottom: 50px;
}
.fil-btn {
    padding: 6px 22px;

    font-family: 'Roboto';
    background: #F5F4FA;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    text-align: center;
    border-radius: 4px;
    border: none;

    cursor: pointer;
}
.fil-btn:hover,
.fil-btn:focus {
    background: var(--accent-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    color: var(--secondary-white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
    text-align: center;
    border-radius: none;
}
.portfolio-tech {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.projects {
    background-color: var(--secondary-white-color);
    flex-basis: calc((100% - 60px) / 3);
}
.portfolio-block {
    padding: 20px 24px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-top: none;
}
.projects-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);

    margin-bottom: 4px;
}
.projects-class {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}
